<!DOCTYPE html>
<html>
<head>
  <title>Tsuyoshi::Ogawa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  <%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
      </a> 
      <a class="brand" href="/">Tsuyoshi Ogawa</a>  
      <div class="nav-collapse">  
        <ul class="nav">  
          <li><%= link_to "Facebook", "http://www.facebook.com/tsuyoshi.ogawa", :target => "_blank" %></li>
          <li><%= link_to "Twitter", "http://twitter.com/2yo4", :target => "_blank" %></li>
          <li><%= link_to "tumblr", "http://blog.milkcho.co/", :target => "_blank" %></li>
          <li><%= link_to "LinkedIn", "http://linkd.in/IZfyYD", :target => "_blank" %></li>
        </ul>  
      </div>  
    </div>  
  </div>  
</div>


<div class="container">
  <%= yield %>
</div>

</body>
</html>
